<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JW Project</title>
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
        "react": "https://cdn.jsdelivr.net/npm/react@16.13.0/umd/react.production.min.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@16.13.0/umd/react-dom.production.min.js",
        "@mui/material": "https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js",
        "@emotion/styled": "https://cdn.jsdelivr.net/npm/@emotion/styled@11.10.0/dist/emotion-styled.cjs.min.js",
        "@emotion/react": "https://cdn.jsdelivr.net/npm/@emotion/react@11.10.0/dist/emotion-react.cjs.min.js",
        "jotai": "https://cdn.jsdelivr.net/npm/jotai@1.7.7/index.min.js",
        "moment": "https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js",
        "axios": "https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@jw/root-config": "//localhost:9000/jw-root-config.js"
        }
      }
    </script>
  <% } else { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@jw/root-config": "//jw-root-app.herokuapp.com/jw-root-config.js"
        }
      }
    </script>
    <script type="systemjs-importmap" src="https://jw-service-list-mfe.herokuapp.com/systemjs"></script>
  <% } %>

    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <main></main>
  <script>
    System.import('@jw/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>